{{ template "header.html" .}}


<h1 class="float-left">Inputs</h1>

<a class="btn btn-success float-right" href="/input/add">Add</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Protocol</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
        <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    {{with .inputs }}
    {{range . }}
    <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Protocol }}</td>
        <td>{{ .Addr }}</td>
        <td>

        </td>
        <td class="row">

        </td>
    </tr>
    {{end}}
    {{end}}
    <tr><td colspan="5"></td></tr>
    </tbody>
</table>


{{ template "footer.html" .}}