{{ template "header.html" .}}


<h1 class="float-left">Inputs</h1>

<a class="btn btn-success float-right" href="/input/add">Add</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Protocol / Extractor</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
        <th scope="col">Errors</th>
        <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    {{with .inputs }}
    {{range . }}
    <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Protocol }} / {{ .Extractor }}</td>
        <td>{{ .Addr }}</td>
        <td>
            {{if .GetListener.IsActive }}
                <span class="badge badge-pill badge-success">Active</span>
            {{else}}
                <span class="badge badge-pill badge-secondary">Inactive</span>
            {{end}}
        </td>
        <td>
            {{if .GetListener.GetError }}
                <div class="alert alert-danger" role="alert">
                    {{ .GetListener.GetError }}
                </div>
            {{end}}
        </td>
        <td class="row">
            {{ if .GetListener.IsActive }}
                <div class="col-2">
                    <form action="/input/stop/{{ .Id }}" method="post">
                        <input type="submit" class="btn btn-danger btn-sm" value="Stop">
                    </form>
                </div>
            {{ else }}
                <div class="col-2">
                    <form action="/input/start/{{ .Id }}" method="post">
                        <input type="submit" class="btn btn-success btn-sm" value="Start">
                    </form>
                </div>
                <div class="col-2">
                    <form action="/input/delete/{{ .Id }}" method="post">
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                </div>
            {{ end}}
        </td>
    </tr>
    {{end}}
    {{end}}

    </tbody>
</table>


{{ template "footer.html" .}}