{{ template "header.html" .}}


<h1>Inputs</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Protocol</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
        <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    {{with .inputs }}
    {{range . }}
    <tr>
        <td>{{ .GetId }}</td>
        <td>{{ .GetProtocol }}</td>
        <td>{{ .GetAddr }}</td>
        <td>
            {{ if .IsActive }}
                <span class="badge badge-pill badge-success">Active</span>
            {{ else }}
                <span class="badge badge-pill badge-secondary">Inactive</span>
            {{end}}
            {{ if not .IsEnabled }}
                <span class="badge badge-pill badge-secondary">Disabled</span>
            {{end}}
            {{ if .HasError }}
                <span class="badge badge-pill badge-danger">Error</span>
                <div>
                    {{ .Error }}
                </div>
            {{end}}
        </td>
        <td class="row">
            <div class="col-2">
                <a href="/search" type="button" class="btn btn-primary">Show</a>
            </div>
            <div class="col-2">
                {{ if .IsActive }}
                    <form action="/input/stop/{{ .GetId }}" method="post">
                        <input type="submit" class="btn btn-danger" value="Stop">
                    </form>
                {{ else }}
                    <form action="/input/start/{{ .GetId }}" method="post">
                        <input type="submit" class="btn btn-success" value="Start">
                    </form>
                {{ end}}
            </div>
        </td>
    </tr>
    {{end}}
    {{end}}
    <tr><td colspan="5"></td></tr>
    </tbody>
</table>


{{ template "footer.html" .}}